@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'normalize.css'; */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap'); */


:root {
    /* Height  */


}

/* body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(249 250 251);
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}